.nav_bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    z-index: 999;

    // Animations
    transition-timing-function: ease-in;
    transition: all 0.5s;

    &.nav_background_color{
        background-color: black;
    }

    .nav_contents{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .netflix_logo_div{
            
            .netflix_logo{
                position: fixed;
                top: 19px;
                left: 0;
                width: 199px;
                object-fit: contain;
                padding-left: 40px;
                cursor: pointer;
            }

        }

        .netflix_avatar_logo_div{

            .netflix_avatar_logo{
                position: fixed;
                top: 25px;
                right: 40px;
                width: 38px;
                height: 38px;
                cursor: pointer;
            }

        }

    }

}